[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Exec=ppsh
Name=PPSH
Name[zh]=波波莎
Icon=/usr/share/icons/hicolor/80x80/apps/ppsh80.png
